.header {
    background-color: #1f2937;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logocontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 100px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.lefthead {
    height: 150px;
    width: 350px;
    flex-wrap: wrap;
}

.righthead {
    max-width: 400px;
    height: 250px;
    display: flex;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-sec {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 1rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.box {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    background-color: #e5e7eb;
    padding: 46px;
    left: 0;
    right: 0;
}

.quotebox {
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: light italic;
    color: #1f2937;
    font-size: 36px;
    width: 500px;
}

.quote-sign {
    width: 500px;
    font-style: light italic;
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

.lowerbody {
    display: flex;
    justify-content: center;
}

.signup-box {
    width: 800px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
    border-radius: 10px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}