.header {
    background-color: #1f2937;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logocontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 100px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.lefthead {
    height: 150px;
    width: 350px;
    flex-wrap: wrap;
}

.righthead {
    height: 150px;
    width: 350px;
    background-color: gray;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-sec {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 1rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}